{% extends "base.html" %}

{% block content %}

<h2>{{ scheme.name }}</h2>

<div class="card p-4 shadow mb-4">
    <h4>Description</h4>
<p>

{% if request.session.lang == "mr" and scheme.description_mr %}
  {{ scheme.description_mr }}
{% elif request.session.lang == "hi" and scheme.description_hi %}
  {{ scheme.description_hi }}
{% else %}
  {{ scheme.description }}
{% endif %}

</p>
</div>

<div class="card p-4 shadow mb-4">
    <h4>Eligibility Rules</h4>

    <ul>
        {% for rule in rules %}
            <li>
                {{ rule.field_name }} {{ rule.operator }} {{ rule.value }}
            </li>
        {% endfor %}
    </ul>

</div>

<div class="card p-4 shadow mb-4">
    <h4>Required Documents</h4>

    <ul>
        {% for doc in documents %}
            <li>{{ doc.document_name }}</li>
        {% endfor %}
    </ul>

</div>

<div class="mt-3">
  <p>
  <strong>Official Website:</strong>
  <a href="{{ scheme.official_link }}" target="_blank">
    {{ scheme.official_link }}
  </a>
</p>
</div>

{% endblock %}